<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-success">
            <div class="box-header with-border">
                <h5 class="box-title"><strong>[[FROM]]</strong>></h5>

            </div>
            <div class="box-body">
                <div class="box" style="border: 0;">
                    <div class="box-tools pull-right">
                        <!-- Buttons, labels, and many other things can be placed here! -->
                        <!-- Here is a label for example -->
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                    <div class="box-title">
                        [[TITLE]]
                    </div>
                    <div class="box-body">
                        [[CONTENT]]
                    </div>
                </div>

            </div>
            <!-- /.box-body -->
            <div class="box-footer">
                <div class="row">
                    <div class="col-xs-2">
                        <i class="fa fa-heart" style="transition: all 0.8s;" id="trigger-[[POST_ID]]" onclick="likePost('[[POST_ID]]');"></i>
                    </div>
                    <div class="col-xs-1 ">
                        <div id="likes-[[POST_ID]]">[[LIKES]]</div>
                    </div>
                </div>
            </div>
            <!-- /.box-footer -->
        </div>
        <!-- /.box -->
    </div>
    <!-- /.col-md-8 col-md-offset-2 -->
</div>
<!-- /.row -->
